
body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    white-space: nowrap;
}

.date {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    vertical-align: top;
}

.day {
    background: #cbc9c088;
    padding-top: 2px;
    margin-top: 3px;
    margin-bottom: 5px;
    min-width: 1800px;
}

.day-details {
    display: None;
    padding: 10px;
    background: #cbc9c0ff;
    border-radius: 5px;
    margin: -2px 10px 0 20px;
}

.pie-chart-legend {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    height: 100%;
}

#timelines {
    position: relative;
    margin: 0 5px 5px 5px;
    border: 1px solid;
    overflow-y: hidden;
    overflow-x: initial;
    border-top: none;
}

.section-header {
    position: relative;
    margin: 5px 5px 0 5px;
    border: 1px solid;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.3rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: darkgray;
    cursor: pointer;
}

.superscript {
    vertical-align: super;
}

#records {
    margin: 0 5px 5px 5px;
    border: 1px solid;
    border-top: none;
    overflow-y: hidden;
    overflow-x: initial;
    background: lightgray;
    padding-left: 10px;
}

#records div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 45px;
    vertical-align: top;
}

#records th {
    min-width: 50px;
    text-align: left;
    padding-right: 5px;
}

#records td {
    padding-right: 5px;
}

#stats {
    margin: 0 5px 5px 5px;
    border: 1px solid;
    border-top: none;
    overflow-y: hidden;
    overflow-x: initial;
    background: lightgray;
    padding-left: 10px;
    white-space: normal;
}

.stats-entry {
    display: inline-block;
    margin-bottom: 1px;
    width: 440px;
    background: #ccc;
}

.stats-entry-hidden {
    display: none;
    margin-bottom: 1px;
    width: 440px;
    background: #ccc;
}

.stats-inner {
    min-width: 1320px;
    column-count: 3;
}


.stats-entry span:first-child {
    width: 220px;
}

.stats-entry span {
    display: inline-block;
}


.stats-entry-hidden span:first-child {
    width: 220px;
}

.stats-entry-hidden span {
    display: inline-block;
}

.skill-icon{
    height: 18px;
    vertical-align: sub;
}

#btnEvenMoreStats {
    margin: 5px;
    padding: 5px;
    font-size: 1.0em;
    font-family: Roboto, Arial, sans-serif;
    width: 200px;
    text-align: center;
    display: block;
}


#graphs {
    margin: 0 5px 5px 5px;
    border: 1px solid;
    border-top: none;
    overflow-y: hidden;
    overflow-x: initial;
    background: lightgray;
    padding-left: 10px;
}

#personal {
    margin: 0 5px 5px 5px;
    border: 1px solid;
    border-top: none;
    overflow-y: hidden;
    overflow-x: initial;
    background: lightgray;
    padding-left: 10px;
    text-align: center;
}

.personal-stat-entry {
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    width: 190px;
}

.full-record {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background: #c3c3c3;
}

.full-record span {
    font-size: 1.5rem;
}

.time-cell {
    text-align: right;
}

.boss-box {
    outline: 1px solid black;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: break-spaces;
}

.timeline {
    display: inline-flex;
    overflow: hidden;
    padding: 1px;
    cursor: pointer;
}

.timeline-box {
    height: 40px;
    display: inline-block;
}

.walk-box {
    outline: 1px solid black;
    height: 40px;
    display: inline-block;
}

.boss-name {
    position: relative;
    left: 2px;
    display: inline;
    top: -42px;
    width: 100%;
}

.chart-legend-name {
    display: inline-flex;
    width: 70px;
    height: auto;
}

.time-marker {
    position: absolute;
    z-index: -10;
    width: 1px;
    bottom: 0;
    border-left: black solid 1px;
    top: 0;
}

.hidden-data {
    display: None;
}

#hover-box {
    display: None;
    position: absolute;
    z-index: 20;
    background: #aaa;
    border-radius: 5px;
    padding: 4px;
}

.wing-header {
    padding: 2px 5px;
    background: #aba9a0;
}

.wing-header:hover {
    padding-left: 5px;
    padding-right: 5px;
    background: #96948b;
    cursor: pointer;
}

.wing-table {
    display: None;
}

.boss-name-cell {
    min-width: 160px;
}

a {
    color: #2A4289;
}

